<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="module" src="assets/script/common.js"></script> 
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 block">
                <div class="footer-block">
                    <h4>Address</h4>
                    <hr />
                    <p>Greatwits Services Pvt Ltd <br/> 
                        2/15 Lower Ground Floor <br/> 
                        Nehru Enclave <br/>
                        Near Kalkaji Police Station<br/> 
                        New Delhi -110019, India  <br/>
                        Phone:+91-8448-410-470 <br/>
                        Email Address: <a href="mailto:jitendra.kukreja@greatwits.com">jitendra.kukreja@greatwits.com</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 block">
                <div class="footer-block">
                    <h4>Useful Links</h4>
                    <hr />
                    <ul class="footer-links">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/services">Services</a></li>
                        <li><a routerLink="/portfolio">Portfolio</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="bottom-footer">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 btm-footer-links">
                <p>© 2022 GreatWits Services Pvt Ltd.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 copyright">
            Designed by <a href="http://www.greatwits.com/">Greatwits Services Pvt Ltd</a>
        </div>
    </div>
</div>
</section>