<section id="top_banner">
    <div class="banner">
        <div class="inner text-center">
            <h2>Our Full-Stack Android App Development Services</h2>
        </div>
    </div>
    <div class="page_info">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-6">

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Hire developers<span class="sep"> /
                    </span><span class="current">Android</span></div>
            </div>
        </div>
    </div>
</section>
<section id="about-page-section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                <div class="section-heading">
                    <h2>Hire Android App
                       <span>Developers</span></h2>
                    <p class="subheading"></p>
                </div>
                <p> Hire Android developers from Greatwits on hourly or full time (dedicated monthly) basis to build advanced, feature-rich and secure mobile apps. Our Android app developers build enterprise grade mobile applications for small, mid-large businesses who come from a wide range of industry verticals.
                     <br/><br/>
                   
                </p>
                <a routerLink="/contact"><button class="btn btn-primary slide">Contact US<i class="fa fa-caret-right" style="margin-left: 4px"></i>
                </button></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                <img height="" width="auto" src="assets/images/android-development.png" class="attachment-full img-responsive" alt="">
            </div>
        </div>
    </div>
</section>


<section id="features">
        <div class="container">
                <div class="section-heading text-center">
                        <div class="col-md-12 col-xs-12">
                            <h1> Android App Development Services</h1>
                            <p class="subheading">Our full stack Android app developers are adept in building amazing Android applications catering all industry verticals. Here are the services for which you can hire Android app developers from us.</p>
                        </div>
                    </div>
            <div class="row">
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Wearable Applicationst</h4>
                        <p>Our Android app developers are prompt in building wearable mobile apps for all businesses.
                        </p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-mobile fa-2x feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>AR/VR Mobile Apps</h4>
                        <p>Our offshore Android app developers build interactive and innovative Augmented and Virtual Reality apps for multiple needs.</p>
                        
                    </div>
                </div>
                <div class="col-md-4 col-xs-12 block">
                    <div class="col-md-2 col-xs-2"><i class="fa fa-users feature_icon"></i></div>
                    <div class="col-md-10 col-xs-10">
                        <h4>Custom Android App Development</h4>
                        <p>Businesses with unique requirements are satisfactorily fulfilled by our dedicated Android application coders.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>