
<section id="top_banner">
  <div class="banner">
      <div class="inner text-center">
          <h2>Training + Internship + Projects + Job Oriented Program 
          </h2><br><h2> Learn From 22 Years Application Development Professional</h2>
          <h2> </h2>
      </div>
  </div>
  <div class="page_info">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-sm-8 col-xs-6">

              </div>
              <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Internship + Training<span class="sep"> /
                  </span>
                  <!--<span class="current">Angular</span>
                  -->
                  </div>
                    
                  </div>
      </div>
  </div>
</section>


<section id="about-page-section-3">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
              <div class="section-heading">
                  <h1>Full Stack Application Development
                     <span>Program</span></h1>
                  <p class="subheading"></p>
              </div>
              <p>Hire Angular developers from us on hourly or full time (dedicated monthly) basis to build dynamic web apps. Our dedicated Angularjs developers are well-versed with the latest updates and ensure to build web applications that meet your business requirements as well as save upto 60% cost.
                  <br/><br/>
                 
              </p>
              <a routerLink="/contact"><button class="btn btn-primary slide">Contact US<i class="fa fa-caret-right" style="margin-left: 4px"></i>
              </button></a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
              <img height="" width="auto" src="assets/images/angular_Js.png" class="attachment-full img-responsive" alt="">
          </div>
      </div>
  </div>
</section>


<section id="features">
      <div class="container">
              <div class="section-heading text-center">
                      <div class="col-md-12 col-xs-12">
                          <h1> AngularJS Web Development Solutions</h1>
                          <p class="subheading">Our offshore full-stack Angular JS programmers provide quick deployment of Angular JS development projects and reliable support for ongoing projects.</p>
                      </div>
                  </div>
          <div class="row">
              <div class="col-md-4 col-xs-12 block">
                  <div class="col-md-2 col-xs-2"><i class="fa fa-laptop feature_icon"></i></div>
                  <div class="col-md-10 col-xs-10">
                      <h4>Custom Angular JS Applications</h4>
                      <p>Hire Angular.js programmers who have strong experience in building highly secured, robust, much valued and high performance Angular.js web applications development.
                      </p>
                      
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 block">
                  <div class="col-md-2 col-xs-2"><i class="fa fa-mobile fa-2x feature_icon"></i></div>
                  <div class="col-md-10 col-xs-10">
                      <h4>Social & Interactive Apps</h4>
                      <p>Hire Angular.js programmers who have strong experience in building highly secured, and high performance Social & interactive apps development.</p>
                      
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 block">
                  <div class="col-md-2 col-xs-2"><i class="fa fa-users feature_icon"></i></div>
                  <div class="col-md-10 col-xs-10">
                      <h4>Interactive Dashboards</h4>
                      <p>By using this framework, our offshore Angular.js developers build interactive dashboards and apps for real time user experience.</p>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>

<app-footer></app-footer>