<section id="features-page">
    <div class="subsection1">
        <div class="container">
            <div class="section-heading text-center">
                <h1>Our <span>Services</span></h1>
                <p class="subheading">Greatwits strives to create a young, fun-loving, open yet professional and hard working office environment. We aspire to allow our employees to be as comfortable as possible and sustain an optimal work-life balance. Simultaneously we provide everyone the opportunity to make significant contributions to the company and grow their careers through guidance and training.</p>
            </div>
            <div class="col sm_12">
                <div class="col-sm-4 wpb_column block">
                    <div class="wpb_wrapper">
                        <div class="flip">
                            <div class="iconbox iconbox-style icon-color card clearfix">
                                <div class="face front">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-laptop boxicon"></i>
                                                    <h3>Web Application Development</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="iconbox-box2 face back">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>Web Application Development</h3>
                                                    <p>We build secure, scalable and robust software applications and deliver highly customised agile products that improve business value.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wpb_column block">
                    <div class="wpb_wrapper">
                        <div class="flip">
                            <div class="iconbox  iconbox-style icon-color card clearfix">
                                <div class="iconbox-box1 face front">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-bullhorn boxicon"></i>
                                                    <h3>IT Strategy & Software Consulting</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="iconbox-box2 face back">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>IT Strategy & Software Consulting</h3>
                                                    <p>Our Experienced analysts, engineers, and UX experts team up and guide you through digital transformation journey.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 wpb_colum block">
                    <div class="wpb_wrapper">
                        <div class="flip">
                            <div class="iconbox  iconbox-style icon-color card clearfix">
                                <div class="iconbox-box1 face front">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <i class="fa fa-support boxicon"></i>
                                                    <h3>Dedicated Development Team</h3>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="iconbox-box2 face back">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h3>Dedicated Development Team</h3>
                                                    <p>Our dedicated teams reduce your overhead, while ensuring high-quality and timely deliverables for each project milestone.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="subsection2">
        <div class="container">
            <div class="col-xs-12 col-sm_12 col-md-12 col-lg-12 left">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 wpb_column">
                    <div class="wpb_wrapper">
                        <h3>We really love what we do & our work on every project truly reflects that.</h3>
                        <hr>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wpb_column block">
                    <div class="wpb_wrapper">
                        <div class="iconbox iconbox-style-2 icon-color clearfix">
                            <div class="iconbox-icon">
                                <i class="fa fa-lightbulb-o sl-layers boxicon"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4>IDEA</h4>
                                <p>We help our clients to convert their idea into a market-ready software solutions from the ground up, taking robustness, scalability and customizability into account.
                                    </p>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="iconbox iconbox-style-2 icon-color clearfix">
                            <div class="iconbox-icon">
                                <i class="fa fa-magic sl-book-open boxicon"></i>
                            </div>
                            <div class="iconbox-content nomargin">
                                <h4>DESIGN</h4>
                                <p>We deliver specifications to describe desired functionality and behaviors; wireframes to acquire feedback early in the process; clickable prototypes to quickly test solution elements; proof-of-concept to evaluate and validate solution.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wpb_column">
                    <div class="wpb_wrapper">
                        <div class="iconbox iconbox-style-2 icon-color clearfix">
                            <!-- icon-color-greyscale -->
                            <div class="iconbox-icon">
                                <i class="fa fa-cloud-download sl-badge boxicon"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4>CONCEPT</h4>
                                <p>Exploring the information we have collected and break it down into areas that have meaning to us. Considering the problems, the influences, the context.</p>
                            </div>
                        </div>
                        <div class="spacer"></div>
                        <div class="iconbox iconbox-style-2 icon-color clearfix">
                            <div class="iconbox-icon">
                                <i class="fa fa-cog sl-check boxicon"></i>
                            </div>
                            <div class="iconbox-content nomargin">
                                <h4>DEVELOP</h4>
                                <p>Our architects analyze possible product use cases and deployment scenarios to spot technically infeasible features and propose the most suited technology stack. We deliver well-considered system architectures, compatible with various environments.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subsection3" style=" overflow-x:hidden;">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 left-section">
                    <div class="subfeature">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <h1><span>Services that </span>we provide.</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12 right-section right-background">
                    <div class="subfeature">
                        <div class="featureblock">
                            <div class="col-md-2 col-xs-2 icon"><i class="fa fa-laptop feature_icon"></i></div>
                            <div class="col-md-10 col-xs-10">
                                <h4>Software Development</h4>
                                <p>High-end Quality Software Development Services to build both web and mobile
                                    applications surging impeccable user-experience.</p>
                            </div>
                        </div>
                        <div class="featureblock">
                            <div class="col-md-2 col-xs-2 icon"><i class="fa fa-users feature_icon"></i></div>
                            <div class="col-md-10 col-xs-10">
                                <h4>Integrated & Dedicated Teams</h4>
                                <p>Pioneer in IT Outsourcing Services, we have expertise in web and mobile app
                                    development. Outsource dedicated software development teams for your next
                                    project.</p>
                            </div>
                        </div>
                        <div class="featureblock nomargin">
                            <div class="col-md-2 col-xs-2 icon"><i class="fa fa-globe feature_icon"></i></div>
                            <div class="col-md-10 col-xs-10">
                                <h4>Product Innovation & Technology</h4>
                                <p>We have expertise in product engineering and innovation. Our software development
                                    teams align your requirements and forge them into high quality, scalable and
                                    technology-driven products.</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div>
        <hr />
    </div>

<app-footer></app-footer>